<!--This file contains the templeate of fields for creating and editing a new theme-->

<h1><%= action_name %></h1>

        <%= form_for(@forum_theme) do |field| %>
            <%= field.label :title, "Tema:" %>
            <%= field.text_field :title%>

            <%= field.label :description, "Descrição:" %>
            <%= field.text_field :description%>

            <%= field.submit "criar tema"%>
        <% end %>
