<%= link_to "criar Tema", new_forum_theme_path %>
<ul>
<%@forum_theme.each do |theme|%>

<li>
	<%= theme.title %>
	<%= theme.description %>
	<%= link_to "ver", {:action => 'show', :id => theme.id}, :class => 'action show' %>
	<%= link_to "editar", edit_forum_theme_path(theme) %>
	<%= link_to 'excluir', theme, method: :delete, data: { confirm: 'Tem certeza?'} %>
</li>
<%end%>
</ul>