<h2><%= @forum_theme.title %></h2>
<%= @forum_theme.description %>

<p><%= link_to 'Novo Tópico', new_forum_theme_forum_topic_path(@forum_theme)%></p>


<% @forum_topics.each do |topic| %>
	<h2><%= link_to topic.title, forum_topic_path(topic) %></h2>
	<%= link_to 'apagar', forum_theme_forum_topic_path(@forum_theme, topic),
            :confirm => 'Are you sure?', :method => :delete %>
    <%= link_to 'editar', edit_forum_theme_forum_topic_path(@forum_theme, topic) %>
	
<%end%>