<section id="title" class="emerald">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1><%= action_name %></h1>
        <p><%= action_command %></p>
      </div>
    </div>
  </div>
</section>

<section id="portfolio" class="container">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@mortality_rate) do |f| %>
      <% if @mortality_rate.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@mortality_rate.errors.count, "Erro") %> prohibited this mortality_rate from being saved:</h2>

          <ul>
          <% @mortality_rate.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label :regiao %>
        <%= f.text_field :regiao, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :nome %>
        <%= f.text_field :nome, class: 'form-control' %>
      </div>
      <div class="field">
        <%= f.label :taxa %>
        <%= f.text_field :taxa, class: 'form-control' %>
      </div>
      <div class="actions">
        <%= f.submit action_name, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</section>