<p id="notice"><%= notice %></p>

<h1>Lista de Mortalidade com as microregiões com taxas mais elevada</h1>

<table>
  <thead>
    <tr>
      <th>Regiao</th>
      <th>Nome</th>
      <th>Taxa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mortality_rates.each do |mortality_rate| %>
      <tr>
        <td><%= mortality_rate.regiao %></td>
        <td><%= mortality_rate.nome %></td>
        <td><%= mortality_rate.taxa %></td>
        <td><%= link_to 'Show', mortality_rate %></td>
        <td><%= link_to 'Edit', edit_mortality_rate_path(mortality_rate) %></td>
        <td><%= link_to 'Destroy', mortality_rate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mortality rate', new_mortality_rate_path %>
