<section id="main-slider" class="no-margin">
    <div class="carousel slide wet-asphalt">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="item active" style="background-image: url(<%= asset_path "images/diverse.jpg"  %>)">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content">
                                <h1 class="boxed animation animated-item-1">"O caminho mais rápido para <br> mudar a sociedade é o de <br>mobilizar as mulheres do mundo."</h1>
                                <br>
                                <p class="boxed animation animated-item-2">(Charles Malik)</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url(<%= asset_path "images/sunset.jpg"  %>)">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="carousel-content center centered">
                                <h2 class="boxed animation animated-item-1">"Ninguém pode fazer você se sentir inferior sem o seu consentimento."</h2>
                                <p class="boxed animation animated-item-2"> (Eleanor Roosevel)</p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
            <div class="item" style="background-image: url(<%= asset_path "images/nice.jpg"  %>)">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="carousel-content centered">
                                <h3 class="boxed animation animated-item-1">Toda vez que uma mulher é agredida<br>A sociedade inteira é agredida também</h3>
                                <p class="boxed animation animated-item-2">NÃO SE OMITA.DENUNCIE.<br></p>
                                <a class="btn btn-md animation animated-item-3" href="/forum_themes">Visite o Fórum</a>
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="centered">
                                <div class="embed-container">
                                    <iframe width="560" height="315" src="https://www.youtube.com/embed/vFxLgVGpFRs" frameborder="0" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->

    <!-- Buttons to next and prev images -->
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
        <i class="icon-angle-left"></i>
    </a>
    <a class="next hidden-xs" href="#main-slider" data-slide="next">
        <i class="icon-angle-right"></i>
    </a>
</section><!--/#main-slider-->

<%= render partial: "portal_posts/last_posts" %>
<%= render partial: "social_media" %>
<%= render partial: "phrases" %>
