<h1><%= action_name %></h1>

        <%= form_for(@forum_theme) do |field| %>
            <p>Tema: </p>
            <%= field.text_field :title%>

            <p>Descrição: </p>
            <%= field.text_field :description%>
            
            <%= field.submit action_command%>
        <% end %>
    