<% provide(:title, "| Portal") %>

<section id="title" class="emerald">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h1><%= @portal_post.title %></h1>
				<p><%= @portal_post.created_at %>, por <%= @portal_post.author %> -</p>
			</div>
		</div>
	</div>
</section>

<section id="portfolio" class="container">
	<div class="show-post">
		<%if @portal_post.image_file.present? %>
			<%= image_tag(@portal_post.image_file.url(), class: "image center-block") %>
		<%else%>
			<%= image_tag("nikn_default_banner.png", class: "image center-block") %>
		<%end%>

		<p class="body"><%= @portal_post.body %></p>
<% if ong_signed_in? and (current_ong.has_role? :admin or
												 (current_ong.has_role? :ong and @portal_post.ong_id === current_ong.id)) %>
	<div class="btn-group pull-right" role="group" aria-label="...">
		<%= link_to(edit_portal_post_path(@portal_post), type: "button", class: "btn btn-default") do %>
			<span class="glyphicon glyphicon-pencil portal-button" aria-hidden="true"></span>
		<% end %>
		<%= link_to(@portal_post, method: :delete, data: { confirm: 'Deseja realmente excluir esta postagem?' }, type: "button", class: "btn btn-default") do %>
			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
		<% end %>
	</div>
<% end %>

		<div class="social-buttons", style="display:inline">
			<div class="twitter_button each_button"><%= tweet_button %></div>
			<div class="facebook_button each_button"><%= like_button(1627715594161634) %></div>
			<div class="pinit_button each_button"><%= pinit_button %></div>
		</div>

	</div>
</section>
