<% provide(:title, "| Portal") %>

<div class="show-post">
	
	<div class="post-title col-md-12">
		<div class="title-subtitle pull-left">
			<p class="title pull-left"><%= @portal_post.title %></p>
			<p class="subtitle pull-left"><%= @portal_post.created_at %>, por <%= @portal_post.author %> -</p>
		</div>
		<div class="btn-group pull-right" role="group" aria-label="...">
			<%= link_to(edit_portal_post_path(@portal_post), type: "button", class: "btn btn-default") do %>
				<span class="glyphicon glyphicon-pencil portal-button" aria-hidden="true"></span>
			<% end %>
			<%= link_to(@portal_post, method: :delete, data: { confirm: 'Deseja realmente excluir esta postagem?' }, type: "button", class: "btn btn-default") do %>					
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			<% end %>
		</div>
	</div>

	<%if @portal_post.image_file.present? %>
		<%= image_tag(@portal_post.image_file.url(), class: "image center-block") %>
	<%else%>
		<%= image_tag("nikn_default_banner.png", class: "image center-block") %>
	<%end%>

	<p class="body"><%= @portal_post.body %></p>

</div>

<!--
, method: :delete, data: { confirm: 'Deseja realmente excluir esta postagem?' } 
-->