<section id="title" class="emerald">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h1><%= action_name %></h1>
        <p><%= action_command %></p>
      </div>
    </div>
  </div>
</section>

<section id="portfolio" class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@event) do |field| %>
        <!-- This is necessary to display wrong inputs messages -->
        <%= render 'shared/error_messages' %>

        <div class="field">
          <p><b>Nome do evento</b></p>
          <%= field.text_field :title, class: 'form-control' %>
        </div>

        <div class="field">
          <p><b>Local do evento</b></p>
          <%= field.text_field :local, class: 'form-control' %>
        </div>

        <div class="field">
        <p><b>Começa</b></p>
        <%= datetime_select :event, :start_time,use_month_numbers: true, use_two_digit_numbers: true, :start_year =>Date.today.year, class: "date_time"%>
        </div>

        <div class="field">
        <p><b>Termina</b></p>
        <%= datetime_select :event, :end_time,use_month_numbers: true, use_two_digit_numbers: true, :start_year =>Date.today.year, class: "date_time"%>
        </div>

        <div class="field">
        <p><b>Descrição</b></p>
        <%= field.text_area :description, class: 'form-control' %>
        </div>

        <div class="field">
        <p><b>Adicione um banner para o evento</b></p>
        <%= field.file_field :image_file %>
        </div>

        <%= field.submit action_name, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</section>