<% provide(:title, @event) %>
<div class="row">
	<aside class="col-md-4">
		<section class="event_info">
			<h1>
				<%= image_tag @event.image_file.url(:medium) %>
				<%= @event.name %><br>
				<%= @event.local %><br>
				<%= @event.description %><br>
				<%= @event.date %><br>
				<%= link_to "Editar", edit_event_path(@event.id), class:"btn btn-primary" %>
			</h1>
		</section>
	</aside>
</div>