<% provide(:title, "| Editar Evento") %>

</br>
<%= link_to 'Voltar', events_path %>
</br>

<div class="row">
	<div class="col-md-12 center-block event_info">
		<div class="btn-group pull-right" role="group" aria-label="...">
			<%= link_to(edit_event_path(@event), type: "button", class: "btn btn-default") do %>
				<span class="glyphicon glyphicon-pencil portal-button" aria-hidden="true"></span>
			<% end %>
			<%= link_to(@event, method: :delete, data: { confirm: 'Deseja realmente excluir esta postagem?' }, type: "button", class: "btn btn-default") do %>
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			<% end %>
		</div>

		<div class = "col-md-5 no_padding">
			<%if @event.image_file.present? %>
				<%= image_tag(@event.image_file.url(), class: "event_image center-block") %>
			<%else%>
				<%= image_tag("nikn_default_banner.png", class: "event_image center-block")  %>
			<%end%>
		</div>

		<div class="basic_information col-md-7 ">
			<h1><%= @event.title %></h1>
			<p>Local: <%= @event.local %></p>
			<p>Data: <%= @event.start_time.strftime("%d/%m/%Y") %>.</p>
			<p>Começa às <%= @event.start_time.strftime("%I:%M%p") %>.</p>
			<p>Termina às <%= @event.end_time.strftime("%I:%M%p") %>.</p>
		</div>
		<div class="description">
			<h4>Descrição do evento:</h4>
			<p><%= @event.description %></p>
			<%= tweet_button %>
			<%= like_button(1627715594161634) %>
			<%= pinit_button %>
			<a href="https://plus.google.com/share?url=https:LINK" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i> Google+</a>
			<%#= google_plus_button %>
		</div>
	</div>
	<hr>
</div>
