<section id="title" class="emerald">
	<div class="container">
		<div class="row">
			<div class="col-sm-6">
				<h1>Lista de ONGs</h1>
				<p></p>
			</div>
		</div>
	</div>
</section>

<section id="portfolio" class="container">
	<% @ong.each do |ong| %>
		<%= link_to(ong) do %><table>
			<tr class="portal-index-row">
				<td class="portal-img-data">
					<% if ong.image_file.present? %>
						<%= image_tag(ong.image_file.url(), class: "portal-index-img") %>
					<% else %>
						<%= image_tag("nikn_default_banner.png", class: "portal-index-img") %>
					<% end %>
				</td>
				<td class="portal-index-info">
					<h3 style="margin:0px"><%= ong.name.upcase %></h3>
					<b><%= ong.email %></b><br>
					<%= ong.uf %>, <%= ong.city %> - <%= ong.phone %><br>
					<%= ong.description[0...120].capitalize + "..." %>
				</td>
			</tr>
		</table><% end %>
	<% end %>
</section>