  <!--This will render fields to enter the content of ong creation -->
    <h1>Ong signup</h1>
  <ul>
  <!--This will create fields for account creation -->
    <%= form_for(@ong) do |f| %> 
    <li><%= f.text_field :name, :placeholder => "Name" %> </li>
    <li><%= f.text_field :description, :placeholder => "Description" %></li>
    <li><%= f.text_field :adress, :placeholder => "Adress" %></li>
    <li><%= f.password_field :password, :placeholder => "Password" %></li>
    <li><%= f.submit "Create" %> </li>
<% end %>