<p id="notice"><%= notice %></p>

<h1 class="w">Dados de Unidades de Atendimento a Mulher</h1>

<div class="img-responsive aspect data_background"></div>
<table class="table table-striped w">
  <thead class="text-position">
    <tr>
      <th>Nome</th>
      <th>Categoria</th>
      <th>Instituição</th>
      <th>Cidade</th>
    </tr>
  </thead>

  <tbody class="text-position">
    <% @care_units.each do |unit| %>
        <tr>
          <td>
            <%= link_to(unit) do %>
              <%= unit.name %>
            <% end %>
          </td>
          <td><%= unit.category %></td>
          <td><%= unit.institution %></td>
          <td><%= unit.district %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>
