<header class = "navbar navbar-fixed-top navbar-inverse">
	<div class="container">
        <%= link_to "Nikn", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home",   '/' %></li>
            <li><%= link_to "Eventos",  '/events' %></li>
            <li><%= link_to "Ajuda",   '#' %></li>
            <li><%= link_to "ONG Log in", '#' %></li>
          </ul>
        </nav>
      </div>
</header>
