<!DOCTYPE html>
<html>
	<head>
	  <title>Nikn</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>

	  <%= render 'layouts/shim' %>
	</head>
	<body>
 
 		<!-- Partial header -->
		<%= render 'layouts/header' %>

		<div class = "container">

			<!-- Display flash messages, go to the controller files to modify each message -->
			<% flash.each do |message_type, message| %>
        		<div class="alert alert-<%= message_type %>"><%= message %></div>
      		<% end %>

      		<!-- Render the content of each page -->
			<%= yield %>

			<%= render 'layouts/footer' %>
			<!-- This displays some useful information about each page using the built-in debug method and params variable -->
			<%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>
