<!DOCTYPE html>
<html lang="en">
<head>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>

    <%= render partial: "layouts/shim" %> <!-- Fix patch for IE. -->
    <%= render partial: "mortality_rates/mortality_rate_charts_external_scripts" %>
    <%= render partial: "care_units/google_maps_external_scripts" %>

    <link rel="shortcut icon" href="#">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="#">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="#">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="#">
    <link rel="apple-touch-icon-precomposed" href="#">
</head><!--/head-->
<body>
    <%= render partial: "/layouts/header_navbar" %>
    <%= yield %>
    <%= render partial: "/layouts/bottom" %>
    <%= render partial: "/layouts/footer" %>
</body>
</html>
