<!DOCTYPE html>
<html>
	<head>
	  <title>Nikn</title>
	  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>

	  <%= render 'layouts/shim' %>
	</head>
	<body>
 
 		<!-- Partial header -->
		<%= render 'layouts/header' %>

		<div class = "container">
			<%= yield %>

			<%= render 'layouts/footer' %>
			<!-- This displays some useful information about each page using the built-in debug method and params variable -->
			<%= debug(params) if Rails.env.development? %>
		</div>
	</body>
</html>
